@import "../../styles/null.scss";

@import "../../styles/style.scss";

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// header styles start

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  border: 1px solid #e1e1e1;
  &__container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__body {
    padding-left: 85px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 96px;
    align-items: center;
  }
  &__list {
    display: flex;
    position: relative;
    z-index: 2;
  }
  &__list li {
    margin-top: 14px;
    padding-right: 48px;
  }
  &__link {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #343030;
  }
  &__link-last {
    padding-right: 178px;
  }
  &__input {
    height: 48px;
    width: 294px;
    border: 1px solid #e1e1e1;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    align-items: center;
    color: #9f9f9f;
    padding-left: 16px;
  }
  &__button {
    height: 48px;
    width: 122px;
    background: #403432;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-left: 36px;
  }
  &__button:hover {
    background: #776763;
  }
  &__burger {
    display: none;
  }
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

// header styles finish

// main styles start

.main {
  flex: 1 1 auto;
}

.first {
  &__container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__title {
    margin-top: 141px;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #343030;
    margin-bottom: 39px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__content {
    border: 1px solid #e1e1e1;
  }
  &__content-opacity {
    opacity: 0.5;
  }
  &__picture {
    width: 280px;
    margin-bottom: 20px;
  }
  &__picture img {
    max-width: 100%;
  }
  &__subtitle {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #343030;
    padding-left: 24px;
  }
  &__subtitle-one {
    margin-bottom: 22px;
  }
  &__subtitle-last {
    margin-bottom: 34px;
  }
  &__block {
    display: flex;
  }
  &__price {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: #a0a0a0;
    padding-left: 24px;
  }
  &__price2 {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #343030;
    padding-left: 24px;
    padding-bottom: 26px;
  }
  &__price2-last {
    padding-top: 12px;
    padding-bottom: 36px;
  }
  &__sale {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #343030;
    padding-left: 24px;
    margin-bottom: 36px;
  }
  &__button {
    height: 48px;
    width: 118px;
    background: #382e2b;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #f4f6f9;
    margin-left: 21px;
  }
  &__button:hover {
    background: #776763;
  }
  &__subtitle.hide {
    display: none;
  }
  &__content.hide {
    display: none;
  }
}

// main styles finish

// footer styles start

.footer {
  max-width: 1920px;
  background: #eceaea;
  &__container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__body {
    padding-left: 143px;
  }
  &__list {
    padding: 38px 0 37px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #555555;
  }
  &__phone {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #555555;
    padding-left: 127px;
  }
  &__phone::before {
    content: url("../../img/png/Phone.png");
    padding-right: 9px;
  }
  &__address {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #555555;
  }
  &__address::before {
    content: url("../../img/png/Address.png");
    padding-right: 11px;
  }
}

@media (max-width: 1240px) {
  .header__body {
    padding-left: 0;
  }
  .header__link-last {
    padding-right: 0;
  }
}

@media (max-width: 1100px) {
  .first__column {
    margin-bottom: 10px;
  }
  .footer__body {
    padding-left: 0;
  }
  .footer__phone {
    padding-left: 0;
  }
}

@media (max-width: 980px) {
  .header__list li {
    padding-right: 10px;
  }
}

@media (max-width: 795px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    &__body {
      height: 60px;
    }
    &__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
    }
    &__burger span {
      position: absolute;
      background-color: #ffffff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
    &__burger::before,
    &__burger::after {
      content: "";
      background-color: #ffffff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &__burger::before {
      top: 0;
    }
    &__burger::after {
      bottom: 0;
    }
    &__burger.active::before {
      transform: rotate(45deg);
      top: 9px;
    }
    &__burger.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    &__burger.active span {
      transform: scale(0);
    }
    &__menu {
      position: fixed;
      top: -200%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: blue;
      padding: 60px 0 0 0;
      transition: all 0.3s ease 0s;
      overflow: auto;
    }
    &__menu.active {
      top: 0;
    }
    &__list {
      display: block;
    }
    &__list li {
      margin-bottom: 20px;
    }
    &__link {
      font-size: 24px;
      color: #ffffff;
    }
    &__input {
      margin-bottom: 20px;
      margin-left: 10px;
    }
    &__button {
      margin-bottom: 20px;
      margin-left: 10px;
    }
  }
  .header::before {
    background-color: #a3bfd2;
  }
}
