doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Banki.Shop
    body 
        .wrapper 
            header.header 
                .header__container 
                    .header__body 
                        nav.header__menu 
                            ul.header__list 
                                li 
                                    a.header__link(href='#') Каталог
                                li 
                                    a.header__link(href='#') Доставка
                                li 
                                    a.header__link(href='#') Оплата
                                li 
                                    a.header__link(href='#') Контакты
                                li 
                                    a.header__link(class='header__link-last' href='#') О компании 
                                input.header__input(type='text' name='input' placeholder='Поиск по названию картины') 
                                button.header__button(type='submit') Найти
                        .header__burger 
                            span 
            main.main 
                .main__first 
                    .first 
                        .first__container 
                            .first__body 
                                .first__title Картины эпохи Возрождения 
                                .first__row 
                                    .first__column 
                                        .first__content 
                                            .first__picture 
                                            .first__subtitle 
                                            .first__price 
                                            button.first__button(type='submit') 
                                    .first__column 
                                        .first__content 
                                            .first__picture 
                                            .first__subtitle 
                                            .first__price 
                                            button.first__button(type='submit') 
                                    .first__column 
                                        .first__content 
                                            .first__picture 
                                            .first__subtitle 
                                            .first__price 
                                            button.first__button(type='submit') 
                                    .first__column 
                                        .first__content 
                                            .first__picture 
                                            .first__subtitle 
                                            .first__price 
                                            button.first__button(type='submit') 

